<!DOCTYPE html> {% load static %}
<html>

<head>
    <title>homepage</title>
    <link rel="stylesheet" type="text/css" href="{% static 'moviesapp/css/homepage.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body>
    <marquee>
        <h3>Movie Details</h3>
    </marquee>
    <div class="jumbotron">
        <h1 class="display-4">Homepage to Display Movie Details</h1>
        <a class="btn btn-primary btn-lg" href="/movie/addmovie/" role="button">Add movie</a>
        <a class="btn btn-primary btn-lg" href="/movie/movielist/" role="button">List of movies</a>


</body>

</html>