<!DOCTYPE html> {% load static %}
<html>

<head>
    <title>listofmovies</title>
    <link rel="stylesheet" type="text/css" href="{% static 'moviesapp/css/homepage.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body>

    {% if movie_data %}
    <h1>Movie Information</h1>
    <table border="5">
        <tr>
            <th>SL NO</th>
            <th>MOVIE NAME</th>
            <th>HERO</th>
            <th>HEROINE</th>
        </tr>
        {% for movie in movie_data %}
        <tr>
            <td>{{ movie.id }}</td>
            <td>{{ movie.moviename }}</td>
            <td>{{ movie.hero }}</td>
            <td>{{ movie.heroine }}</td>
        </tr>

        {% endfor %}

    </table>
    {% else %}
    <h1>No data to display</h1>

    {% endif %}

</body>

</html>