{% extends 'courses/base.html' %}
{% load static %}
{% load customfilter %}

{% block headblock %}
      <title>Mycoursepage</title>
      <link rel="stylesheet" href="{% static 'courses/css/mycourse.css' %}" type="text/css">
{% endblock headblock %}

{% block bodyblock %}
<h1 class="d-md-flex justify-content-md-center">My Courses</h1>
<div class="row">
      {% for uc in usercourse %}
      <div class="col mx-auto">
            <div class="card mx-auto" style="width: 18rem;">
                  <img src="{{ uc.course.thumbnail.url }}" class="card-img-top" alt="..." height="200" width="100">
                  <div class="card-body">
                        <h5 class="card-title">{{ uc.course.name }}</h5>     
                  </div>
                  <div class='card-footer'>
                        <div class="row">
                              <div class="col-md ">
                                    <a  href="/course/{{ uc.course.slug}}" class="btn btn-primary d-md-flex justify-content-md-center ">Start course </a>
                              </div> 
                        </div>
                  </div>
            </div>
      </div>
      {% endfor %}
</div>
{% endblock bodyblock %}