.b1 {
    color: black;
    background-color: white;
}

.container {
    display: flex;
    gap: 30px;
}

.tnb {
    color: rgb(255, 0, 0);
}

.sidebar {
    width: 50%;
    padding: 10px;
    background-color: white;
    top: 50px;
}

h1 {
    text-align: center;
    border: 2px solid yellow;
    padding-bottom: 10px;
}

.p1 {
    color: rgb(255, 0, 0);
    font-size: 15px;
    font-style: italic;
}

#pcount {
    font-size: 25px;
    color: rgb(17, 245, 36);
    font-weight: bold;
}

.tags {
    color: rgb(255, 0, 212);
}